:root{
    --paragraph-light-color:#454545;
    --bgc-color:#141414;
    --dark-color:#242424;
    --them-color: #3EB893;
}
header,footer {
    background-color: #161616;
    box-shadow: none; }

.nav_menu_list a {
    color: #c6c6c6;
}
.content_para, .copyright_text, .v3_side_content {
    color: #b6b6b6;
}
.downlode_container,.v3_movies_container{
	color:#f3f3f3;
}
.v3_movie_name_bradcamp{
	color:#3EB893;
}
.v3_home_brad_camp, .v3_bradcamp_box svg path{
	color:white;
	fill:white;
}
.v3_movie_share_btn,.v3_watch_btn {
    background-color: #3EB893;
    color:#141414;
}
.v3_watch_btn svg path, .v3_movie_share_btn svg path, .hero_search_btn svg path{
	fill:#141414 ;
}
.header_logo svg path, .hero_logo svg path{
	fill:#3EB893;
}
.hambergar_label svg path {
	stroke: white;
}
.header_menu_bar, .header_search {
    background-color: #161616;
}

.hero_logo_HT, .logo_help_text, .hero_search_btn, .movies_quality_type {
    color: #161616;
}
.hero_logo svg path{
	fill:white;
}
.hero_logo .logo_name{
	color:white;
}
.hero_logo_HT{
	background: white;
}
.content_main_heading, .content_sec_heading{
	color:#aaa8a8;
}
.h1_underline{
	background:#aaa8a8;
}
.latest_main_heading span, .latest_main_heading svg path{
		color:white;
		fill:white;

}
.movies_quality_type{
	background: #212121;
	color:#a1a1a1;
}
.latest_addoons_ending_text{
	color: #909090;
}