body {
color : #000000;
font-size : 12px;
font-family:verdana, "Comic Sans MS",Helvetica,sans-serif;
background-color : #fff;
margin : 0;
}
a:link, a:active, a:visited {
color : red;
text-decoration : none;
}
a:hover, a:focus {
color : #000000;
}
img {
border-style : none;
}
.cen {
text-align : center;
}


p {
    margin: 4px;
    padding: 0 3px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
    border: 1px dotted #f4f4f4;
    font-size: 12px
}

.style24 {
    color: #CE3B3B;
}

.logovoom { text-align: center; color: #ffffff; background: #ffeaf5; padding: 2px; } .pink a { color: #fff; font-weight: bold; }

.kaimvoom { background-color: #FFFF96; color: #333333; padding-top: 1px; padding-bottom: 1px; padding-left: 2px; padding-right: 2px; font-weight: normal; font-size: small; border-width: 1px; border-color: #e1e1ff; border-style: solid; margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; }

.subox { background-color: #094E84; border-bottom: 1px #094E84 solid; padding: 6px 6px; color: #ffffff; font-weight: bold; text-align: left; }

.info { background-color: #FFD94E; border-bottom: 1px #FFD94E solid; padding: 6px 6px; color: #ffffff; font-weight: bold; text-align: left; }

.dlcm { background-color: #FA80DB; border-bottom: 1px #FA80DB solid; padding: 6px 6px; color: #ffffff; font-weight: bold; text-align: left; }

h1,h2 {
    color:black;background:#;border-top:1px solid #;border-bottom:1px solid #;font-size:100%;font-weight:900;padding:0px;margin:0;
}


.link {
color:#EF0404;
font-weight:bold;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
border-bottom:1px solid #DDDDDD;
padding:5px;
}
	 .link:hover { background: #FAFCFC url(/files/images/arrow.jpg) no-repeat right; }

.link a {
color:#EF0404;

}
	 .link a:hover {
color:#005D92;
text-decoration:underline;
}

.footer { background-color: #4E3B3B; border-bottom: 1px #4E3B3B solid; padding: 7px 7px; color: #ffffff; font-weight: bold; text-align: center; }

.ac,
.ai,



.ac img {
    border: 1px solid #fff;
    border-radius: 7px;
    height: 290px !important;
    margin: 2px 2px;
    width: 230px !important;
}


.ddt { padding: 3px; border-bottom: 1px dashed #d1d8df; }
.download { padding: 3px; border-bottom: 1px dashed white; }

.updates { background-color: #fafafa; border-bottom: 2px dashed #bbb; padding: 5px; font-weight:bold; }
.updates a { color: #FF0000; }

 .search {
background-color: #fade8b; color: red; border-bottom-width: 0px; border-bottom-color: #f6960d; border-bottom-style: solid; padding-top: 5px; padding-bottom: 5px; padding-left: 2px; font-weight: bold; font-size: small;
}

.pgn a {border:1px solid #ccc; background:#f5f5f5; color:#FFFFFF; }
.pgn a,.pgn span{ border:1px solid #0902C6; padding:5px 5px; background:#0902C6; border-radius:5px; text-decoration:none; font-weight:bold; }
.pgn a:hover, .pgn span	{ background:#000000; color:#fff; border-color:#2565a4; }


.dtype{color:#333333; padding: 5px 5px 5px
8px; background: #f4f4f4 url(/files/images/mast.png) repeat-x top; border:1px solid
#ccc; font-weight: bold; margin-top: 0px;
text-transform:capitalize;}

.pb1 { background-color: #FFFAFA; padding:
5px; border-bottom: 1px #E4C9C6 solid; }
.pb1:hover{background-color:#FDD6DF;}
a.pb1 img {
	vertical-align: middle;
	bottom: 1px;
	margin:0px 2px 4px 0px;
	}

.navi { background-color: #F8D0FF; color: #
990000; border-width: 1px; border-color: #
8E8388; border-style: solid; margin-top: 0px; margin-bottom: margin-right: 0px; margin-
left: 0px; padding-top: 9px; padding-right: 4px; padding-left: 4px; padding-bottom: 7px; font-weight: normal; font-size: normal; }

 .des {
  padding: 10px;
  background: #F8F8F8;
  margin: 10px;
  font-size: 5px !important;
  }

.Fun { border-bottom: 1px dotted #cacaca; margin-bottom: 1px; padding: 4px; }
.Blue { border-left: 4px solid #2006E0; color: #757575; margin-top: 2px; margin-left: 4px; padding-left: 3px; }
.updates { background-color: #FFF8DC; border-bottom: 1px dashed #bbb; padding: 3px; font-weight: bold; }
.updates a { color: #FF0000; }

.mCover,
.mInfo,
.mCoverSmall {
    float: left;
}
.mCover img {
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 188px !important;
    margin: 4px 2px;
    width: 170px !important;
}
.mCoverSmall img {
    width: 120px;
    height: 120px;
    border: solid 1px #fff;
}

.tag { background-color: #e8d7c7; padding: 4px; margin-top: 2px; margin-bottom: 2px; border-top-width: 1px; border-top-color: #a38e7a; border-top-style: solid; }
.pgn	{ text-align:center; padding-top:10px; background:#E6E6FA; border: 1px solid #abc; }
.pgn a,.pgn span	{ border:1px solid #ccc; padding:2px 5px; margin:0 2px; background:#ddd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none; font-weight:bold; }
.pgn a:hover, .pgn span	{ background:#ddd; border-color:#ddd; }
.pgn div { padding-top:5px; }

.headblack { background-color: #000000; border-bottom: 1px #000000 solid; padding: 6px 6px; color: #ffffff; font-weight: bold; text-align: left; }

.up { color: #fff; position: relative; top: 11px;
padding: 3px; background: url(/images/navis-red.gif) no-repeat;
font-weight: bold; }
.up1 { border-bottom: 1px dotted #cacaca; margin-bottom: 1px; padding: 4px; }
.M2 {
color: #960000; background: #ffffff; border-bottom: 1px solid #ede9dc; text-decoration: none; font-weight: bold; text-align: left; }
.M2 a{display: block; padding: 7px; }
.M2: hover{background-color:#e6e6e6; }
.M1 {
color: #ff0000;
background:#ffffff;
border-bottom: 1px solid #ede9dc;
text-decoration: none;
font-weight:bold;
text-align:left;
}
.M1 a{display: block;padding:5px;}
.M1:hover{background-color:#FEF6C4;}

.M2 {
color: #960000;
background: #eeecec url(/images/arrow.gif) no-repeat right;
border-bottom: 1px solid #ede9dc;
text-decoration: none;
font-weight:bold;
text-align:left;
}
.M2 a{display: block;padding:5px;}
.M2:hover{background: #FEF6C4 url(/images/arrow.gif) no-repeat right; }

.M2 img {
	vertical-align: middle;
	bottom: 1px;
	margin:0px 2px 4px 0px;
	}
.M1 img {
	vertical-align: middle;
	bottom: 1px;
	margin:0px 2px 4px 0px;
	}


.M1 { background-color: #fafafa; padding:
4px; border-bottom: 1px #ecd5d2 solid; }
.M1 img {
	vertical-align: middle;
	bottom: 1px;
	margin:0px 2px 4px 0px;
	}
.mylist {
color:#EF0404;
font-weight:bold;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
border-bottom:1px solid #DDDDDD;
padding:5px;
}
	 .mylist:hover { background: #FAFCFC url(/images/arrow.jpg) no-repeat right; }

.mylist a {
color:#EF0404;

}
	 .mylist a:hover {
color:#005D92;
text-decoration:underline;
}
.x2 a{
	padding: 3px 3px;
	text-align: center;
	font-size: 12px;
	margin: 1px 1px;
	background: #0A39D7;
	color: #FFF;
    border-radius:4px;
    transition-duration: 0.2s;
    cursor: pointer;
    margin:2px
	}
.x2 a:hover {
    border: 2px solid #0A39D7;
	background: #C0C6C6;
	color:black;
	  }
