
  .pop_upBtn {
    max-width: 553.49px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 14px 0px;
    background-color: var(--them-color);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }

  .pop_up_container img {
    max-height: 160px;
  }
  .pop_up_container {
    display: none;
  }

  .pop_up_container.show {
    display: block;
    position: fixed;
    border-radius: 10px;
    top: 0%;
    left: 0;
    z-index: 2;
    width: 100%;
  }

  .pop_up_show_cont {
    max-width: 400px;
    width: 95%;
    margin: auto;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 15%;
    position: relative;
    animation-name: popup;
    animation-duration: 0.6s;
    animation-timing-function: ease-out-cubic;
  }
  .link_locked {
    gap: 4px;
    padding: 19px 0px 12px 0px;
    border-bottom: 1px solid var(--lite-gry);
  }
  .link_locked span {
    font-weight: 700;
    color: var(--them-color);
  }
  .downlode_pop_icon {
    margin-top: 15px;
  }
  .pop_up_overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: #00000091;
  }
  .pop_heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .app_downlod_link {
    gap: 16px;
  }
  .app_link {
    max-width: 259px;
    width: 100%;
    background-color: var(--them-color);
    color: var(--white);
    text-align: center;
    padding: 11px 0px;
    border-radius: 5px;
  }

  .app_back_link {
    gap: 4px;
    color: var(--blk);
    text-align: center;
    margin-top: 26px;
    margin-bottom: 32px;
  }
  .back_link {
    color: var(--blk);
    text-decoration: underline;
  }
  @media (max-width: 500px) {
    .pop_up_show_cont {
      max-width: 350px;
      margin-top: 40%;
    }
  }
  /* Animation */
  @keyframes popup {
    0% {
      transform: translateY(120%);
      opacity: 0;
    }
    40% {
      transform: translateY(-30%);
      opacity: 1;
    }
    70% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Custom timing function */
  .ease-out-cubic {
    cubic-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  #btn_4_pc {
    display: none;
  }

  @media only screen and (min-width: 769px) {
    #btn_4_pc {
      display: block;
    }
    #btn_4_android,
  #btn_4_iphone {
    display: none;
  }
  }